* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: linear-gradient(to bottom, #c9d7dc, #727b86);
    color: #333;
    overflow-x: hidden;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgb(198, 201, 202);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #0057ff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}


.dropdown-menu {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #0057ff;
    display: block;
    padding: 5px 0;
}

.dropdown-menu li a:hover {
    background: #cadce5;
    border-radius: 5px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


main {
    padding-top: 120px;
}

section {
    padding: 80px 20px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.hero {
    text-align: center;
    padding: 120px 20px;
    background:#8d969f ;
    color: rgb(27, 26, 26);
    font-weight: 900;
    transform: translate(5px,90px);
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

#contracts { background: #9ba3ac; }
#patents { background: #a2aab4; }
#lawyers { background: #a7b0bb; }
#copyrights { background: #a6afb9; }
#about { background: #b9c1ca; }
#contact { background: #c1c9d2; }
