
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, #0A192F, #1E3A8A); 
    position: relative;
}


.circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.4;
    animation: moveCircles 3s infinite alternate ease-in-out;
}

.circle:nth-child(1) {
    width: 150px;
    height: 150px;
    background: rgba(47, 87, 196, 0.3);
    top: 10%;
    left: 10%;
    animation-duration: 4s;
}

.circle:nth-child(2) {
    width: 200px;
    height: 200px;
    background: rgba(115, 152, 233, 0.4);
    top: 50%;
    left: 70%;
    animation-duration: 2s;
}

.circle:nth-child(3) {
    width: 120px;
    height: 120px;
    background: rgba(59, 130, 246, 0.5);
    bottom: 15%;
    right: 20%;
    animation-duration: 3s;

}

.circle:nth-child(4) {
    width: 180px;
    height: 180px;
    background: rgba(109, 151, 202, 0.4);
    bottom: 40%;
    left: 30%;
    animation-duration: 6s;
}

.circle:nth-child(5) {
    width: 130px;
    height: 130px;
    background: rgba(92, 112, 135, 0.3);
    top: 70%;
    right: 15%;
    animation-duration: 2s;
}


@keyframes moveCircles {
    0% { transform: translateY(0px); }
    100% { transform: translateY(30px); }
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}


.login-box {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}

.login-box h2 {
    font-size: 28px;
    font-weight: 700;
    color: #1E3A8A;
    margin-bottom: 20px;
}


.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    font-weight: 600;
    color: #1E3A8A;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #1E3A8A;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
}


.login-btn {
    width: 100%;
    padding: 12px;
    background: #1E3A8A;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #15284B;
}


.register-link {
    margin-top: 10px;
    font-size: 14px;
    color: #1E3A8A;
}

.register-link a {
    color: #2563EB;
    text-decoration: none;
    font-weight: 700;
}
